.contain-head {
	background-color:#00aced;
}

img {
	width: 100%;
}

.left {
	background-color: #ccc;
}

.center {
	background-color: #eee;
	font-size: small;
}

.right {
	background-color: #ccc;
	font-size: small;
}

.navbar-default {
  background-color: #00aced;
  border-color: #3ffebf;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}

.active {
	font-color: white;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #red !important;
}

ul.nav li.active a {
    color: #red !important;
}

ul.nav li a, ul.nav li a:visited {
    color: #red !important;
}

.index-intro {
	width:100%;
	background-color: #f3f3f3;
}

.main-container {

}

.index-intro .jumbotron{
	padding:190px 10px;
	margin: 0px;
	background-image: url('pictures/skyline.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.bannerHeading {
  position: absolute;
  top: 30px;
  
  border-radius: 50%;
]}