.contain-head {
	background-color:#74d1ea;
}

img {
	width: 100%;
}


.left {
	background-color: #ccc;
}

.center {
	background-color: #eee;
	font-size: small;
}

.right {
	background-color: #ccc;
	font-size: small;
}
